#configurazione del character-set per il container mariadb, che di default ha alcune codifiche in latin1 invece che in utf-8

[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4

[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
skip-character-set-client-handshake