<div class="answer-chat">
    <div class="answer-chat-container" id="chat-view">
        {% if message %}
        <p class="{{ 'message' if 'successo' in message|lower else 'error-message' }}">{{ message }}</p>
        {% endif %}

        <div class="main-question-display">
            {{payload[1] if payload else "Errore: domanda non disponibile."}}
        </div>
    </div>

    <div class="answer-form-wrapper">
        <form id="answer-form" action="/answer" method="POST" class="ans-form">
            <input type="text" id="answer" name="answer" required maxlength="255" {% if payload[1]=="Non ci sono ulteriori domande a cui rispondere, vai a porne di nuove!" %} placeholder="Attendi una nuova domanda a cui rispondere!"
            disabled
            {% else %} placeholder="Scrivi la tua Risposta..."
            {% endif %}>
            <input type="hidden" id="domandaid" name="domandaid" value="{{payload[0]}}">
            <input type="hidden" id="domanda" name="domanda" value="{{payload[1]}}">
            <input type="hidden" id="tema" name="tema" value="{{payload[2]}}">
            <input type="hidden" id="tab_creation" name="tab_creation" value="0">
            <button type="submit" class="send-btn" {% if payload[1]=="Non ci sono ulteriori domande a cui rispondere, vai a porne di nuove!" %} disabled {% endif %}>
                <img src="/templates/send.png" alt="Invia" class="send-icon">
            </button>
        </form>
        
        <form id="refresh-form" action="/answer" method="POST" class="refresh-form-bottom">
            <input type="hidden" id="answer_refresh" name="answer" value="placeholder">
            <input type="hidden" id="domandaid_refresh" name="domandaid" value="{{payload[0]}}">
            <input type="hidden" id="domanda_refresh" name="domanda" value="{{payload[1]}}">
            <input type="hidden" id="tema_refresh" name="tema" value="{{payload[2]}}">
            <input type="hidden" id="tab_creation_refresh" name="tab_creation" value="1">
            <button type="submit" class="refresh-btn-answer">Aggiorna domanda</button>
        </form>
    </div>
</div>

