<!DOCTYPE html>
<html lang="ita">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="stylesheet" href="/static/css/ask.css">
    <link rel="stylesheet" href="/static/css/leaderboard.css">
    <link rel="stylesheet" href="/static/css/answer.css">
</head>
<body>
    <!-- Banner con i bottoni per ogni tab -->
    <nav class="navbar">
        <div class="nav-left">
            <button class="tab-button active" data-tab-name="ask">Domanda</button>
            <button class="tab-button" data-tab-name="answer">Rispondi</button>
            <button class="tab-button" data-tab-name="leaderboard">Classifica</button>
        </div>
        <div class="nav-right">
            <!-- Form per il logout -->
            <form action="/logout" method="POST" class="logout-form-inside">
                <button type="submit" class="logout-btn">Logout</button>
            </form>
            <!-- Link al profilo dell'utente -->
            <a href="http://localhost:8001/profile" class="profile-btn">Profilo</a>
        </div>
    </nav>
    <!-- Layout principale della dashboard con i contenitori dei diversi tab,
         a seconda del tab selezionato i contenuti vengono caricati
         dinamicamente tramite javascript -->
    <div class="dashboard-layout">
        <div id="ask-content" class="tab-content active">Caricamento Ask...</div>
        <div id="leaderboard-content" class="tab-content">Caricamento Leaderboard...</div>
        <div id="answer-content" class="tab-content">Caricamento Answer...</div>
    </div>
    <script src="/static/js/dashboard.js"></script>
</body>

</html>