<div id="leaderboard-app-container">
    <div class="container">
        <p class="message">{{message}}</p>
        <div class="leaderboard-container">
            <h2>Classifica</h2>
             <!-- Lista ordinata dei primi 10 utenti per punteggio -->
            <ol class="leaderboard-list">
                {% for entry in leaderboard [:10] %}
                <li class="leaderboard-item">
                    <span class="rank">{{ loop.index }}°</span>
                    <span class="name">{{ entry[0] }}</span>
                    <span class="score">{{ entry[1] }} punti</span>
                </li>
                {% endfor %}
            </ol>
        </div>
        <form id="leaderboard-form" action="/get_tab_content/leaderboard" method="GET">
             <!--Bottone per refreshare manualmente la leaderboard -->
            <button type="submit" class="update-button">Aggiorna classifica</button>
        </form>
    </div>
</div>

