<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    <div class="container">
        <div id="login-form-container" class="login-box">
            <form action="/login" method="POST">
                <h1>Login</h1>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required maxlength="127">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required maxlength="127">
                <button type="submit">Accedi</button>
                {% if error %}
                    <p class="error">{{ error }}</p>
                {% endif %}
            </form>
            <a href="http://localhost:8001/directregister">Registrati</a>
        </div>
    </div>
    <div>
    <p>{{message}}</p>
    </div>
</body>
</html>
