<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profilo</title>
    <link rel="stylesheet" href="/static/css/profile.css">
</head>
<body>
    <!-- Banner con i bottoni per ogni tab -->
    <nav class="navbar">
        <div class="nav-left">
            <a href="/dashboard#ask" class="tab-button">Ask</a>
            <a href="/dashboard#answer" class="tab-button">Answer</a>
            <a href="/dashboard#leaderboard" class="tab-button">Leaderboard</a>
        </div>
        <div class="nav-right">
            <!-- Link al profilo dell'utente -->
            <form action="/profile" method="GET" class="logout-form-inside">
                <button type="submit" class="profile-btn">Profilo</button>
            </form>
        </div>
    </nav>
    <div class="profile-title">Profilo</div>
     <!-- Card contentente le informazioni principali dell'utente -->
    <div class="profile-card">
         <!-- Immagine profilo -->
        <img src="/static/img/profile_picture.jpeg" alt="Immagine profilo" class="profile-pic">
        <div class="profile-main-info">
            <!-- Username -->
            <div class="username">{{ username }}</div>
            <!-- Codice invito con bottone per copiarlo sugli appunti e messaggio informativo -->
            <div class="invite-bar">
                <div class="invite-row">
                    <div class="invite-label">Link Invito</div>
                    <div class="invite-code" id="invite-code">{{ friend_code }}</div>
                    <button class="copy-btn" type="button" onclick="copyInviteCode()">Copia</button>
                </div>
                <div class="invite-info">
                    Chi si registra con questo codice riceverà 50 punti
                </div>
            </div>
        </div>
    </div>

    <!-- Sezione statistiche -->
    <div class="card-section-title">Statistiche</div>
    <div class="stats-card">
        <div class="stat-item">Punteggio: <b>{{ score }}</b></div>
        <div class="stat-item">Domande poste: <b>{{ questions }}</b></div>
        <div class="stat-item">Risposte date: <b>{{ answers }}</b></div>
    </div>
    
    <!-- Sezione sicurezza -->
    <div class="card-section-title">Sicurezza</div>
    <div class="security-card">
        <!-- Link a reset password e form di logout -->
        <a href="/directpassreset" class="resetpass-btn">Cambia password</a>
        <form action="/logout" method="POST" class="logout-form-inside">
            <button type="submit" class="logout-btn">Logout</button>
        </form>
    </div>
    <script src="/static/js/profile.js"></script>
</body>
</html>
